<div class="playerContainer" >
  <div class="layerFront" >
    <!-- <p>Audio player not working</p> -->
    <p>Close previous audio player then re-open it.</p>
      <!-- [style.backgroundImage]="'url('+data.posterImage+')'" style="transition: opacity 2s ease 0s, pointer-events 2s ease 0s; opacity: 1; pointer-events: auto; text-align: left " -->       
  </div>
  <div class="layerBack" >
      <!-- style="transition: opacity 2s ease 0s, pointer-events 2s ease 0s; opacity: 0; pointer-events: auto;" -->
      <!-- <svg version="1.1" viewBox="0 0 550 550"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
        <image xlink:href="../../assets/img/player/main.svg" height="200" width="200"/>
      </svg> -->
  </div>
</div>